.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1, h2 {
        margin-top: 10px;
        margin-bottom: -10px;
    }

    --gap: 20px;
}

.welcome-box {
    position: relative;
    
    background-image: linear-gradient(to bottom, #f4f4f4, #e4e4e4);
    width: min(550px, calc(100vw - 50px));
    height: 500px;
    border-radius: 12px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap);

    color: #111;

    h3 {
        margin: 0;
    }
}

.welcome-inner-box {
    width: min(400px, calc(100% - 70px));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
}

.welcome-choices {
    display: flex;
    flex-direction: column;
    width: 200px;

    gap: 16px;
}

.welcome-back {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    padding-left: 30px;
    top: 10px;
    position: absolute;

    button {
        background-color: #111;
    }
}

.welcome-error {
    background-color: #ffcccc;
    width: 100%;
    text-align: left;
    padding: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    
    border-radius: 8px;
    border-style: dashed;
    border-color: #ffa9a6;
    color: #d33;

    img {
        width: 24px;
    }
}

.text-field {
    span.welcome-username-availability-negative {
        color: #833;
    }

    span.welcome-username-availability-positive {
        color: #383;
    }
}