.password-field {
    display: flex;
    flex-direction: column;
    width: 100%;

    text-align: left;

    span {
        color: #777;
    }

    .password-field-input-box {
        flex: 1 1 auto;
        height: 100%;
        background-color: transparent;
        border: transparent;
        color: #111;
        font-size: 18px;
        border-radius: 8px;
        background-color: #ddd;
        border: 2px dashed rgba(10, 10, 10, 0.1);
    }

    .password-field-header {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        margin: 1px 0;
    }
}